mat-icon {
    display: inline-block;
}
div {
    text-align: center;
}
button {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 8px;
}

.active {
    color: #e51282;
}

.vertical-divider {
    border-left: 1px solid grey;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}
