<div>
    <button mat-button matTooltip="Activer/Désactiver">
        <mat-icon>magnet</mat-icon>
    </button>
    <button mat-button matTooltip="Annuler (Ctrl-Z)" [disabled]="this.commandListIsEmpty" matTooltipPosition="left"
        (click)="this.undoRedoService.undo()">
        <mat-icon [class.active]="!this.commandListIsEmpty">undo</mat-icon>
    </button>
    <button mat-button matTooltip="Refaire (Ctrl-Shift-Z)" [disabled]="this.redoListIsEmpty" matTooltipPosition="right"
        (click)="this.undoRedoService.redo()">
        <mat-icon [class.active]="!this.redoListIsEmpty">redo</mat-icon>
    </button>
</div>