.example-card {
    width: 350px;
    height: 420px;
    display: inline-block;
    margin: 5px;
}

.tag-error {
    background-color: red;
}
.img-container {
    background-color: gray;
}

img {
    object-fit: contain;
    height: 300px
}
mat-card-subtitle{
    height: 40px;
}




