<mat-card class="example-card" (click)="this.setToCurrentDrawing()">
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Dessin non disponible"> -->
    <img mat-card-image [src]="this.drawingSrc" alt="Photo of a Shiba Inu" />
    <mat-card-header>
        <mat-card-title>{{ drawingForm.name }}</mat-card-title>
        <mat-card-subtitle>
            <mat-chip-list>
                <mat-chip *ngFor="let tag of drawingForm.tag">{{ tag }}</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
        <button mat-stroked-button (click)="this.deleteDrawing(this.drawingForm.id)">Supprimer</button>
    </mat-card-actions>
</mat-card>
