<div class="option-bar-content">
    <button mat-button matTooltip="Sélectionner tout (Ctrl-A)" (click)="this.selectAll()">
        <mat-icon class="active">select_all</mat-icon>
    </button>

    <button
        [disabled]="!this.selectionIsActive()"
        mat-button
        matTooltip="Copier la sélection (Ctrl-C)"
        (click)="this.clipboardSelectionService.copy()"
    >
        <mat-icon [class.active]="this.selectionIsActive()">content_copy</mat-icon>
    </button>

    <button
        [disabled]="!this.canPaste() || this.selectionIsActive()"
        mat-button
        matTooltip="Coller la sélection (Ctrl-V)"
        (click)="this.clipboardSelectionService.paste()"
    >
        <mat-icon [class.active]="this.canPaste() && !this.selectionIsActive()">content_paste</mat-icon>
    </button>

    <button
        [disabled]="!this.selectionIsActive()"
        mat-button
        matTooltip="Couper la sélection (Ctrl-X)"
        (click)="this.clipboardSelectionService.cut()"
    >
        <mat-icon [class.active]="this.selectionIsActive()">content_cut</mat-icon>
    </button>

    <button
        [disabled]="!this.selectionIsActive()"
        mat-button
        matTooltip="Supprimer la sélection (Delete)"
        (click)="this.clipboardSelectionService.delete()"
    >
        <mat-icon [class.active]="this.selectionIsActive()">delete</mat-icon>
    </button>
</div>
