// Reference: https://malcoded.com/posts/angular-color-picker/
.color-container {
    padding-bottom: 10px;
}
.list-previous-color {
    display: inline;
    margin-bottom: 10px;
}
.previous-color {
    width: 20px;
    height: 20px;
    margin: 3px;
}
:host {
    display: block;
    width: 316px;
    padding: 16px;
}
.color-wrapper {
    display: flex;
    margin-top: 10px;
    height: 250px;
}

.input-wrapper {
    display: flex;
    border-radius: 1px;
    height: 32px;
    text-align: left;
    margin-bottom: 10px;
}

.color-div {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid rgb(220, 220, 220);
}

.text {
    flex: 1;
    font-family: 'Helvetica';
    line-height: 32px;
}

.slider-container {
    text-align: left;
}
.opacity-slider {
    width: 220px;
    display: inline-block;
}

.opacity-value {
    display: inline-block;
    padding-left: 5px;
}

.opacity-title {
    display: inline-block;
    padding-right: 4px;
}
.check {
    font-size: 15px;
}
.preview-color {
    width: 50px;
    height: 36px;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 30px;
}
.confirm-color-button {
    margin-left: 5px;
    width: 40px;
    height: 36px;
    background-color: green;
    margin-top: 5px;
}

.rgb-form {
    display: left;
}
mat-form-field {
    display: inline-block;
    width: 40px;
    margin: 5px;
}
.rgb-label {
    color: black;
}
