div {
    height: 60px;
    display: inline-block;
}
.stop {
    font-size: 40px;
    color: white;
}
fa-icon {
    font-size: 30px;
    color: white;
}
p {
    color: white;
    font-size: 16px;
    padding-top: 16px;
    padding-left: 16px;
    float: left;
}
mat-divider{
    border-top-color:white;
}
