.attributes-panel-container {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px;
    justify-content: space-between;
    min-height: 250px;
    background-color: rgb(66, 76, 83);
    width: 350px;
    height: 100%;
    float: right;
    text-align: center;
}

.tool-name-header {
    margin-top: 10px;
    font-size: 30px;
    color: white;
    // color: rgb(229, 18, 130);
    height: 50px;
}

mat-divider {
    border-top-color: gray;
    width: 80%;
    display: flex;
    margin-left: 30px;
}

.upper-container {
    padding-top: 10px;
}

.bottom-elements {
    padding-bottom: 10px;
}

a {
    color: lightslategray;
}
