.attributes-panel-container {
  background-color: rgb(42, 49, 54);
  width: 83%;
  height: 100%;  
  display: block;
  float: right;
  text-align : center;
}

.tool-name-header{
  padding-top: 7px;
  margin-bottom: 0px;
  background-color:rgb(229,18,130) ;
  height: 40px;
  color: white;
}
