.sidenav {
    border: 1px solid black;
    background-color: red;
    height: 45px;
}
.mat-list-item {
    color: white;
    opacity: 0.8;
    width: 20px;
}

.active {
    background-color: #e51282;
}
