<div class="tool-bar">
    <mat-nav-list *ngFor="let toolBarElement of toolBarElements" [class.active]="checkActiveTool(toolBarElement.tool)">
        <a
            mat-list-item
            (click)="toggleActive(toolBarElement.tool)"
            matTooltip="{{ toolBarElement.toolTipContent }}"
            matTooltipPosition="right"
            [matTooltipShowDelay]="750"
            class="list-item" 
            (mouseover)="toolBarElement.hovered=true" (mouseleave)="toolBarElement.hovered=false"
            [class.hover]="!checkActiveTool(toolBarElement.tool) && toolBarElement.hovered"
        >
            <fa-icon *ngIf="toolBarElement.tool !== this.toolService.polygonService "icon="{{ toolBarElement.icon }}"></fa-icon>
            <mat-icon  *ngIf="toolBarElement.tool === this.toolService.polygonService ">change_history</mat-icon>
        </a>
    </mat-nav-list>
</div>
