.sidenav {
    border: 1px solid black;
    height: 45px;
}
.mat-list-item {
    color: white;
    opacity: 0.8;
    width: 20px;
}

.active {
    background-color: #e51282;
}

.polygon-icon {
    font-size: 26px;
    display: block;
}