<div>
    <mat-nav-list *ngFor="let selectionElement of selectionElements" [class.active]="selectionElement.tool === this.toolsService.currentTool">
        <a
            mat-list-item
            (click)="toggleActive(selectionElement.selectionService)"
            matTooltip="{{ selectionElement.selectionTipContent }}"
            matTooltipPosition="right"
            [matTooltipShowDelay]="750"
            class="list-item"
        >
            <fa-icon icon="{{ selectionElement.icon }}"></fa-icon>
        </a>
    </mat-nav-list>
</div>
