.export-container {
    width: 850px;
    height: 717px;
    position: relative;
}

.bottom-div {
    text-align: center;
    display: inline;
    position: absolute;
    bottom: 0;
}

.preview-filter {
    border-color: gray;
    border-radius: 15px;
    border-style: dashed;
    background-color: white;
    margin-top: 5px;
}

mat-button-toggle-group {
    float: right;
}

.filter-selector {
    position: relative;
    width: 250px;
    margin-right: 20px;
}

.file-name {
    width: 400px;
}

.hidden{
    visibility: hidden;
}

.export-canvas-btn {
    margin-right: 10px;
}

canvas {
    object-fit: contain;
}

.imgur-checkbox {
    margin-left: 20px;
}

.checkbox-div {
    margin-bottom: 12px;
}

button {
    height: 45px;
    border-radius: 30px;
    width: 390px;
    font-size: large;
}

.export-canvas-btn {
    left: 30px;
}

.cancel-btn {
    margin-left: 25px;
}

mat-icon {
    font-size: 35px;
}

button:hover {
    background-color: #e51282;
}
