<div class="export-container">
    <h2 mat-dialog-title>Exporter le dessin</h2>
    <div class="checkbox-div">
        <mat-checkbox [checked]="!exportToImgur" (change)="exportToImgur=!exportToImgur">Téléverser sur le disque
        </mat-checkbox>
        <mat-checkbox class="imgur-checkbox" [checked]="exportToImgur" (change)="exportToImgur=!exportToImgur">
            Téléverser plutôt avec
            <em>imgur</em> !
        </mat-checkbox>
    </div>

    <div>
        <mat-form-field class="filter-selector">
            <mat-select #filter placeholder="Sélectionez un filtre" [(value)]="selectedFilter">
                <mat-option class="filter-mat-option" *ngFor="let filter of this.filterService.filters"
                    [value]="filter" (click)="applyFilter(filter.filterType)"> {{filter.name}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="file-name" [class.hidden]="exportToImgur">
            <input matInput #fileName placeholder="Nom du dessin" autocomplete="off">
        </mat-form-field>

        <mat-button-toggle-group #fileFormat="matButtonToggleGroup">
            <mat-button-toggle checked="true" value="png">PNG</mat-button-toggle>
            <mat-button-toggle value="jpeg">JPG</mat-button-toggle>
        </mat-button-toggle-group>
    </div>

    <div class="preview-filter">
        <canvas #canvas [style.height.px]="510" [style.width.px]="850" [attr.width]="this.drawingService.canvas.width"
            [attr.height]="this.drawingService.canvas.height"></canvas>
    </div>

    <div class="bottom-div">
        <button mat-flat-button color="primary" class="export-canvas-btn"
            (click)="exportCanvas(fileName.value,fileFormat.value)">

            <mat-icon *ngIf="this.loadingImpgurState">
                <mat-spinner diameter="20">
                </mat-spinner>
            </mat-icon>

            Exporter
        </button>
        <button mat-flat-button color="primary" class="cancel-btn" (click)="this.dialogRef.close();">
            Annuler
        </button>
    </div>

</div>