<mat-card class="example-card" [class.mat-elevation-z8]="true">
    <img mat-card-image [src]="this.drawingForm.drawingData" alt="Photo of a Shiba Inu" />
    <mat-card-header>
        <mat-card-title>{{ drawingForm.name }}</mat-card-title>
        <mat-card-subtitle>
            <mat-chip-list fxFlex>
                <mat-chip *ngFor="let tag of drawingForm.tags">{{ tag }}</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions fxFlexAlign="end" align="end">
        <button mat-icon-button [disabled]="this.isTheLoadedCanvas()" (click)="this.setToCurrentDrawing()"
            matTooltip="Charger le dessin" matTooltipPosition="above">
            <fa-icon icon="cloud-download-alt"></fa-icon>
        </button>
        <button mat-icon-button (click)="this.deleteDrawing(this.drawingForm.id)" matTooltip="Supprimer"
            matTooltipPosition="above">
            <mat-icon *ngIf="!this.deletingState">delete</mat-icon>
            <mat-icon *ngIf="this.deletingState">
                <mat-spinner color="primary" diameter="20">
                </mat-spinner>
            </mat-icon>
        </button>
    </mat-card-actions>
</mat-card>