
mat-slide-toggle{
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    float: left;
}
mat-slider{
    width: 225px;
}
p{
    color: white;
    font-size: 16px;
    padding-top: 14px;
}
.diameter{
    padding-top: 20px;
    padding-right: 10px;
    font-size: 14px;
}