
mat-slide-toggle {
    padding-top: 16px;
    padding-bottom: 10px;
    padding-left: 16px;
    float: left;
    display: inline-block;
}
mat-slider {
    width: 225px;
}
p {
    color: white;
    font-size: 16px;
    padding-top: 14px;
}
.diameter {
    padding-top: 20px;
    margin-right: 15px;
    font-size: 14px;
    display: inline-block;
    float: right;
}
