<div
    id="canvas-container"
    [ngStyle]="
        this.toolsService.currentTool === this.toolsService.eraserService
            ? { cursor: 'none' }
            : this.toolsService.lassoSelectionService && this.toolsService.lassoSelectionService.checkIfLineCrossing()
            ? { cursor: 'not-allowed' }
            : this.toolsService.currentTool === this.toolsService.eraserService || this.toolsService.currentTool === this.toolsService.stampService
            ? { cursor: 'none' }
            : { cursor: 'crosshair' }
    "
>
    <canvas id="canvas" #baseCanvas></canvas>
    <canvas id="grid-canvas" #gridCanvas></canvas>
    <canvas id="previewLayer" #previewCanvas oncontextmenu="return false"></canvas>
    <div>
        <app-resize-container (usingButton)="disableDrawing($event)"></app-resize-container>
    </div>
</div>
