.sidenav {
    border: 1px solid black;
    background-color: blue;
    height: 400px;
}

.mat-list-item {
    color: white;
    opacity: 0.8;
    width: 20px;
}

.list-item:hover {
    color: lightpink;
    font-size:larger;
}
