#resizable-box{
    width : 500px;
    height : 500px;
    border-style: dotted;
    display : none;
    text-align : center;
    position:relative;
    z-index : -1;
}


.resizable-draggable {
    outline: 1px dashed #e51282;
    &.active {
        outline-style: solid;
        background-color: #e51282;
    }
    span:first-of-type {
        position: absolute;
        left: 50%;
        transform: translate3d(-50%, -100%, 0);
    }

    span:nth-of-type(2) {
        position: absolute;
        top: 50%;
        transform: translate3d(-100%, -50%, 0);
    }
    
    span:nth-of-type(3) {
        position: absolute;
        transform: translate3d(-100%, -100%, 0);
    }
}

.resize-action {
    position: absolute;
    left: 101%;
    top: 101%;
    transform: translate3d(-50%, -50%, 0);
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover, &:active {
        cursor: nwse-resize;
    }
}

.resize-action-2 {
    position: absolute;
    left: 101%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover, &:active {
        cursor: w-resize;
    }

}

.resize-action-3 {
    position: absolute;
    left: 50%;
    top: 101%;
    transform: translate3d(-50%, -50%, 0);
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover, &:active {
        cursor: n-resize;
    }
}