#resizable-box {
    border-style: dotted;
    display: none;
    position: relative;
    z-index: 1;
}

.resizable-draggable {
    position: absolute;
    z-index: 1;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg%27%3e%3crect width='100%25' height='100%25' fill='none' stroke='black' stroke-width='0.5' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
    transform: translate(2.3px, 2.4px);
    &.active {
        outline-style: dotted;
        background-color: none;
    }
}

.resize-action-diagonal {
    position: absolute;
    left: 100%;
    top: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover,
    &:active {
        cursor: nwse-resize;
    }
}
.resize-action-horizontal {
    position: absolute;
    left: 100%;
    top: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover,
    &:active {
        cursor: w-resize;
    }
}

.resize-action-vertical {
    position: absolute;
    left: 50%;
    top: 100%;
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover,
    &:active {
        cursor: n-resize;
    }
}
