
<div #box class="resizable-draggable" 
    [style.width.px]="width" 
    [style.height.px]="height" 
    [class.active]="status === 1 || status === 2 || status===3"
    (window:mouseup)="setStatus($event, 0)"
>

    <div class="resize-action-diagonal" (mousedown)="onMouseDown($event, 1)"></div>
    <div class="resize-action-horizontal" (mousedown)="onMouseDown($event, 2)"></div>
    <div class="resize-action-vertical" (mousedown)="onMouseDown($event, 3)"></div>
    <span class="dimension-display">({{width}} x {{height}})px</span>
</div>
    

