
<div #box class="resizable-draggable" 
    [style.width.px]="width" 
    [style.height.px]="height" 
    [style.transform]="'translate3d('+ left + 'px,' + top + 'px,' + '0px)'"
    [class.active]="status === 1 || status === 2 || status===3"
    (window:mouseup)="setStatus($event, 0)"
>

    <div class="resize-action-diagonal" (mousedown)="setStatus($event, 1)"></div>
    <div class="resize-action-horizontal" (mousedown)="setStatus($event, 2)"></div>
    <div class="resize-action-vertical" (mousedown)="setStatus($event, 3)"></div>
</div>
    

