<!--REFERENCE https://github.com/theideasaler/angular-resizable-draggable/blob/master/src/app/resizable-draggable/resizable-draggable.component.ts-->
<div #box class="resizable-draggable" [class.active]="status === 1 || status === 2 || status === 3" (window:mouseup)="setStatus(0)">
    <div class="resize-action-diagonal" (mousedown)="onMouseDown($event, 1)"></div>
    <div class="resize-action-horizontal" (mousedown)="onMouseDown($event, 2)"></div>
    <div class="resize-action-vertical" (mousedown)="onMouseDown($event, 3)"></div>
</div>
