#resizable-box {
    border-style: dotted;
    display: none;
    position: relative;
    z-index: 1;
}

.resizable-draggable {
    position:absolute;
    z-index: 1;
    outline: 1px dashed #e51282;
    &.active {
        outline-style: dotted;
        background-color: none;
    }
}

.resize-action-diagonal {
    position: absolute;
    left: 102%;
    top: 102%;
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover,
    &:active {
        cursor: nwse-resize;
    }
}
.resize-action-horizontal {
    position: absolute;
    left: 102%;
    top: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover,
    &:active {
        cursor: w-resize;
    }
}

.resize-action-vertical {
    position: absolute;
    left: 50%;
    top: 102%;
    border-style: solid;
    border-width: 6px;
    border-color: #e51282;
    &:hover,
    &:active {
        cursor: n-resize;
    }
}