.save-container {
    width: 600px;
    height: 470px;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
}

.bottom-div {
    position: absolute;
    bottom: 0;
}

.save-canvas-btn {
    margin-right: 10px;
}

mat-form-field {
    width: 590px;
    margin: 5px;
}

.tag-rules {
    overflow-y: scroll;
    border-color: black;
    width: 100%;
    border-radius: 5px;
}

.error {
    color: red;
}
