.save-container {
    width: 600px;
    height: 470px;
    position: relative;
    overflow-y: auto;
    overflow-x: auto;
}

.bottom-div {
    justify-content: center;
    bottom: 0;
}

.save-canvas-btn {
    left: 35px;
}

mat-form-field {
    width: 590px;
    margin: 5px;
}

.tag-rules {
    overflow-y: auto;
    border-color: black;
    width: 100%;
    border-radius: 5px;
}

.error {
    color: red;
    font-weight: bolder;
    font-size: 17px;
}

.cancel-btn {
    margin-left: 40px;
}

button {
    border-radius: 25px;
    width: 250px;
    height: 40px;
}

button:hover {
    background-color: #e51282;
}

.mat-spinner {
    ::ng-deep circle {
        stroke: white;
    }
}

.rule-header {
    font-size: 16px;
}
