<div class="save-container">
    <h2 mat-dialog-title>Sauvegarder les dessin</h2>
    <form [formGroup]="formGroup">
        <mat-form-field class="file-name">
            <input matInput #fileName placeholder="Nom du fichier" formControlName="fileNameFormControl" required>
            <mat-error *ngIf="formGroup.get('fileNameFormControl')?.invalid">
                Veuillez entrer un nom
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Ajoutez des étiquettes</mat-label>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let tag of tags" selectable="true" removable="true" (removed)="this.removeTag(tag)">
                    {{tag}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Ajoutez des étiquettes" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="this.addTag($event)" formControlName="tagFormControl">
            </mat-chip-list>

            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearTags()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <div class="bottom-div">
        <button mat-flat-button color="primary" class="save-canvas-btn" [disabled]="!formGroup.valid || savingState"
            (click)="postCanvas(fileName.value)">Sauvegarder</button>
        <button mat-flat-button color="primary" class="cancel-btn" (click)="this.dialogRef.close()">Annuler</button>
    </div>
</div>