#eye-dropper-canvas{
    z-index: 0;
    position: relative;
    width: 250px;
    height: 250px;
    left: 0;
    top: 0;
}

#eye-dropper-canvas-container{
    margin-left: 40px;
    position: absolute;
    width: 250px;
    height: 250px;
    border: solid;
    border-color: black;
    border-radius: 2px;
}

#grid-canvas{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}