.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 20vh;
    height: auto;
    margin: 20px;
}

button {
    margin: 20px;
    text-align: center;
    width: 400px;
    height: 70px;
    border-radius: 40px;
    font-size: large;
}

.team-name {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

.header-item {
    justify-content: center;
    text-align: center;
    font-size: 50px;
}

.footer-item {
    text-align: center;
}

.server-message {
    justify-content: center;
    width: 20%;
    min-width: min-content;
}

button:hover {
    background-color: #e51282;
    width: 420px;
    height: 80px;
}
