<div class="container">


    <mat-sidenav-container class="sidenav-container" autosize>
        <mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
            <mat-nav-list class="dashboard">
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="mouse-pointer"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="pencil-alt"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="spray-can"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="square"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="circle"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="draw-polygon"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="project-diagram"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="font"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="fill-drip"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="eraser"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="stamp"></fa-icon>
                </a>
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="eye-dropper"></fa-icon>
                </a>
                
                <a mat-list-item (click)="toggleActive($event)">
                    <fa-icon icon="border-all"></fa-icon>
                </a>
               

               

                
            
                <div class="drawing-manager-section">
                   
                    <a mat-list-item (click)="toggleActive($event)">
                        <fa-icon icon="plus"></fa-icon>
                    </a>
                    <a mat-list-item (click)="toggleActive($event)">
                        <fa-icon icon="folder-open"></fa-icon>
                    </a>
                    <a mat-list-item (click)="toggleActive($event)">
                        <fa-icon icon="save"></fa-icon>
                    </a>
                    <a mat-list-item (click)="toggleActive($event)">
                        <fa-icon icon="download"></fa-icon>
                    </a>
                    <a mat-list-item (click)="toggleActive($event)">
                        <fa-icon icon="home"></fa-icon>
                    </a>
                </div>


            </mat-nav-list>
        </mat-sidenav>

    </mat-sidenav-container>
</div>