<div>
    <div class="divider">
        <p>Nombre d'émissions par secondes</p>
        <p>{{emissionRateSlider.value}}</p>
    </div>
    <mat-slider #emissionRateSlider [min]="tool.MIN_EMISSION_RATE" max="70" [value]="tool.emissionRate" (input)="updateEmissionRate($event)"></mat-slider>
</div>
<mat-divider></mat-divider> 
<div>
    <div class="divider">
        <p>Diamètre du jet</p>
        <p>{{sprayDiameterSlider.value}} pixels</p>
    </div>
    <mat-slider #sprayDiameterSlider [min]="tool.MIN_SPRAY_DIAMETER" max="70" [value]="tool.sprayDiameter" (input)="updateSprayDiameter($event)"></mat-slider>
</div>
<mat-divider></mat-divider> 
<div>
    <div class="divider">
        <p>Diamètre des goutelettes</p>
        <p>{{dropletsDiameterSlider.value}} pixels</p>
    </div>
    <mat-slider #dropletsDiameterSlider [min]="tool.MIN_DROPLETS_DIAMETER" max="15" [value]="tool.dropletsDiameter" (input)="updateDropletsDiameter($event)"></mat-slider>
</div>
