<div>
    <div class="divider">
        <p>Nombre d'émissions par secondes</p>
        <p>{{emissioRrateSlider.value}}</p>
    </div>
    <mat-slider #emissioRrateSlider></mat-slider>
</div>
<mat-divider></mat-divider> 
<div>
    <div class="divider">
        <p>Diamètre du jet</p>
        <p>{{sprayDiameterSlider.value}} pixels</p>
    </div>
    <mat-slider #sprayDiameterSlider></mat-slider>
</div>
<mat-divider></mat-divider> 
<div>
    <div class="divider">
        <p>Diamètre des goutelettes</p>
        <p>{{dropletsDiameterSlider.value}} pixels</p>
    </div>
    <mat-slider #dropletsDiameterSlider></mat-slider>
</div>
