<div>
    <button
        mat-button
        matTooltip="Activer/Désactiver magnétisme (M)"
        [class.active]="this.moveSelectionService.isUsingMagnet"
        (click)="this.moveSelectionService.isUsingMagnet = !this.moveSelectionService.isUsingMagnet"
    >
        <fa-icon icon="magnet"></fa-icon>
    </button>
    <div class="vertical-divider"></div>
    <button
        mat-button
        matTooltip="Activer/Désactiver grille (G)"
        [class.active]="this.toolService.gridService.gridDrawn"
        (click)="this.handleClickGrid()"
    >
        <fa-icon icon="border-all"></fa-icon>
    </button>

    <button
        mat-button
        matTooltip="Annuler (Ctrl-Z)"
        [disabled]="this.commandListIsEmpty"
        matTooltipPosition="left"
        (click)="this.undoRedoService.undo()"
    >
        <mat-icon [class.active]="!this.commandListIsEmpty">undo</mat-icon>
    </button>
    <button
        mat-button
        matTooltip="Refaire (Ctrl-Shift-Z)"
        [disabled]="this.redoListIsEmpty"
        matTooltipPosition="right"
        (click)="this.undoRedoService.redo()"
    >
        <mat-icon [class.active]="!this.redoListIsEmpty">redo</mat-icon>
    </button>
</div>
