<div class="carousel-container">
        <h2 mat-dialog-title>Carrousel de dessins</h2>
        <div class="cards-container">
            <mat-spinner *ngIf="this.loading"></mat-spinner>
            <div *ngIf="!this.loading" class="cards-list-container">
                <button id="arrow" mat-icon-button class="before" (click)="this.backwardDrawings()">
                    <mat-icon>navigate_before</mat-icon>
                </button>
                <h1 class="filter-error" *ngIf="this.chipList.errorState">Aucun dessin trouvé</h1>
                <app-card-drawing *ngFor="let drawing of drawings" [drawingForm]="drawing"
                    (closeCarousel)="this.closeDialog()" (requestDrawings)="this.requestDrawings()">
                </app-card-drawing>
                <button id="arrow" mat-icon-button class="next" (click)="this.forwardDrawings()">
                    <mat-icon>navigate_next</mat-icon>
                </button>
            </div>
        </div>
        <mat-form-field>
            <mat-label>Filtrer avec étiquettes</mat-label>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let tag of searchedTags" selectable="true" removable="true"
                    (removed)="this.removeTag(tag)">
                    {{ tag }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Entrez une étiquette" [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                    (matChipInputTokenEnd)="this.addTag($event)" />
            </mat-chip-list>

            <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearSearchedTags()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-error *ngIf="chipList.errorState">Aucun dessin trouvé</mat-error>
        </mat-form-field>
        <button mat-flat-button color="primary" class="close-btn" (click)="this.closeDialog()">Fermer</button>
</div>