<div class="carousel-container">
    <h2 mat-dialog-title>Carrousel de dessins</h2>
    <div class="cards-container">
        <!-- <mat-spinner></mat-spinner> -->
        <button id="arrow" mat-icon-button class="before" (click)="this.backwardDrawingList()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <div>
            <app-card-drawing-template *ngFor="let drawing of this.getSlicedDrawings()" [drawingForm]="drawing">
            </app-card-drawing-template>
            <!-- <app-card-drawing-template></app-card-drawing-template>
            <app-card-drawing-template></app-card-drawing-template> -->
        </div>
        <button id="arrow" mat-icon-button class="next" (click)="this.forwardDrawingList()">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
    <form>
        <mat-form-field>
            <input matInput placeholder="Filtrer avec étiquettes">
            <button mat-button matSuffix mat-icon-button aria-label="Clear">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <button mat-flat-button color="primary" class="close-btn" (click)=" this.dialogRef.close();">Fermer</button>
</div>