.custom-width-dialog .carousel-container {
    height: 700px;
}

.cards-container {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards-list-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#arrow {
    ::ng-deep .mat-icon {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
        line-height: 48px !important;
    }
}

button {
    width: auto;
    height: auto;
}

.next {
    float: right;
}

.before {
    float: left;
}

mat-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 30%;
}

mat-form-field {
    width: 98%;
    margin: 15px;
}
