.custom-width-dialog .carousel-container {
    height: 800px;
    overflow-x: scroll;
}

.cards-container {
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cards-list-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#arrow {
    ::ng-deep .mat-icon {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
        line-height: 48px !important;
    }
}

button {
    width: auto;
    height: auto;
}

.next {
    float: right;
}

.before {
    float: left;
}

mat-spinner {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.filter-error {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(8px);
}

mat-form-field {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
